<?xml version="1.0" encoding="UTF-8" ?>

<Configuration status="WARN">

    <Appenders>
      <File name="FILE" fileName="logfile.log" append="true">
          <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
      </File>
      <Console name="Console" target="SYSTEM-OUT">
          <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      </Console>
      <ReportPortalLog4j2Appender name="ReportPortalAppender">
          <PatternLayout
              pattern="%d [%t] %-5level %logger{36} - %msg%nthrowable"/>
      </ReportPortalLog4j2Appender>
    </Appenders>

    <Loggers>
        <Logger name="testLogger" Level="debug" additivity="true">
        </Logger>
        <!--Root Logger-->
        <Root level="äll">
            <level value="DEBUG" />
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
            <AppenderRef ref="ReportPortalAppender" />
        </Root>
    </Loggers>

</Configuration>